PORT=3003
DB_HOST=localhost
DB_PORT=5435
DB_USER=citas_user
DB_PASSWORD=citas_pass
DB_NAME=citas_db
PACIENTES_SERVICE_URL=http://localhost:3001
AGENDA_SERVICE_URL=http://localhost:3002
REDIS_HOST=localhost
REDIS_PORT=6379
